webui/extensions/TE-webui-DLSS5/te_dlss5/runtime/dlssnr/nvngx_dlssnr.dll filter=lfs diff=lfs merge=lfs -text
webui/extensions/sd-webui-DLSS5-seedvr2/**/*.dll filter=lfs diff=lfs merge=lfs -text
webui/extensions/sd-webui-DLSS5-seedvr2/**/*.pth filter=lfs diff=lfs merge=lfs -text
